<div class="cartBox">
  <h1 class="text-danger text-center mb-4">Your Shopping Cart</h1>

  <div class="headCart d-flex justify-content-between align-items-center">
    <p class="lead"><label for=""></label></p>
    <button class="btn btn-outline-danger btn-sm" id="clearCart" (click)="clearCart()">Clear Shopping Cart</button>
  </div>

  <table class="table table-bordered mt-3">
    <thead>
      <tr class="bg-light">
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="cartItems">
      @for(item of Products; let index=$index;track trackById){
      <tr>
        <td><img [src]="'data:image/jpeg;base64,' + item.image" alt="Product" class="cart-item-img">
        </td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td class="quantity">
          <button class="btn btn-sm btn-outline-primary" (click)="addAmount(index)">+</button>
          <input type="number" value="1" min="1" [(ngModel)]="item.quantity" class="form-control quantity-input">
          <button class="btn btn-sm btn-outline-primary" (click)="minsAmount(index)">-</button>
        </td>
        <td>{{item.price*item.quantity}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteProduct(index)">Delete</button>
        </td>
      </tr>
      }


    </tbody>
    <tfoot>
      <tr>
        <th colspan="4"></th>
        <th id="totalPrice">{{totalPrice}}</th>
        <th>
          <button class="btn btn-success btn-sm" (click)="addCart()">Order Now</button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
@if(success){
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
}