<div class="container my-5">
  @if (!isLoading) {
  <div class="row shadow-lg rounded-lg p-4 bg-white">
    <!-- Image Section -->
    <div class="col-md-5 col-sm-12 text-center mb-4 mb-md-0">
      <img [src]="'data:image/jpeg;base64,' + product.image" alt="{{product.title}}" class="img-fluid rounded">
    </div>

    <!-- Product Info Section -->
    <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-between">
      <div class="info">
        <ul class="list-unstyled">
          <li class="mb-2"><strong>Title:</strong> {{product.title}}</li>
          <li class="mb-2"><strong>Category:</strong> {{product.decription}}</li>
          <li class="mb-2"><strong>Description:</strong> {{product.decription}}</li>
          <li class="mb-2"><strong>:Quantity</strong> <small class="text-muted">({{product.quantity}} in stock)</small>
          </li>

          <li class="mb-2"><strong>Price:</strong> <span class="text-primary fw-bold">${{product.price}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  }
  @if (isLoading) {
  <div class="text-center w-100">
    <app-spinner></app-spinner>
  </div>
  }
</div>